<div class="tabla-contenedor">
  @if (columnas().length > 0) {
    <table>
      <thead>
        <tr>
          @for (columna of columnas(); track columna) {
            @if (etiqueta(columna).toLocaleLowerCase() !== "id") {
              <th>{{ etiqueta(columna) }}</th>
            }
          }
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (registro of filas(); track $index) {
          <tr>
            @for (columna of columnas(); track columna) {
              @if (etiqueta(columna).toLocaleLowerCase() !== "id") {
              <td>{{ valor(registro, columna) }}</td>
              }
            }
            <td><button mat-button type="button" (click)="abrirDetalle(registro)">Ver detalles</button></td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>Este registro no contiene datos simples para mostrar.</p>
  }
</div>
